* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    grid-column: 2 / 3;
    display: grid;
  }

  .logo {
    justify-self: start;
  }

  .menu {
    align-self: center;
  }

  .menu ul {
    display: grid;
    grid-template-columns: 1fr 13fr 1fr 1fr 2fr;
  }

  .menu ul,
  .menu li {
    font-size: 16px;
  }

  .bottom-menu ul {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr repeat(3, 2fr);
  }
  
    ul,
    li {
    list-style-type: none;
  }
  
  .sidebar {
    background-color: #FF7755;
    grid-row: 1 / 4;
    display: grid;
    gap: 50px;
  }
  
  .sidebar .photo {
    color: black;
    font-size: 24px;
    font-weight: normal;
    border-radius: 10px;
    display: grid; 
    align-items: center;
  }
  
  .photo {
    align-self: center;
  }
  
  .sidebar .side-content {
    color: black;
    font-size: 18px;
    font-weight: normal;
  }
  
  .article {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 200px;
  }
  
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
