@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto-Light, Roboto-Regular;
    /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.button {
    background: #13a4f8;
    border: 2px solid #13a4f8;
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 40px;
    font-weight: bolder;
    font-size: 18px;
}

#search {
    background-color: #d1d5db;
    padding: 8px 16px;
    border-radius: 20px;
    width: 50%;
    height: 1em;
    opacity: 50%;
    position: absolute;
    align-self: start;
    margin-left: 40px;
    /* place-self: center stretch; */
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
  
.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
}
  
.header {
    background-color: #f8fafc;
    grid-column: 2 / 3;
    display: grid;
}


  
.top-menu ul {
    display: flex;
    justify-content: space-between; 
    /* display: grid;
    grid-template-columns: 1fr 13fr 1fr 1fr 2fr; */
}

.top-menu-right {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}

#search-icon {
    margin-top: 5px;
}

#bell {
    align-self: end;
    margin-bottom: 15px;
}

.top-menu ul,
.top-menu li {
    font-size: 16px;
}

.bottom-menu ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(3, 1fr);
}
  
ul,
li {
    list-style-type: none;
}
  
.sidebar {
    background-color: #13a4f8;
    grid-row: 1 / 4;
    display: grid;
    gap: 5px;
    
}
  
.sidebar .photo {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    display: flex; 
    gap: 20px;
    
}
  
.sidebar .side-content {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex; 
    gap: 20px;
}

#dash {
    display: flex;
    margin-top: 8px;
}

.photo {
    display: flex;
    margin-bottom: 40px;
}

#settings {
    display: flex;
    margin-top: 40px;
}
  
.article {
    background-color: #d1d5db;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
  
.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}
  
.article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 200px;
}
  
  
.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}
  
.card .title {
    font-size: 18px;
    text-align: center;
}